<h4>Internal server error - refreshing the page will make the error disappear</h4>
<ng-container *ngIf="error">
    <h5 class="text-danger">Error : {{error.message}}</h5>
    <p class="font-weight-bold">Note: If you are seeing this then angular is probably not to blame </p>
    <p>What to do next?</p>
    <ol>
        <li>open chrome dev toold! Then the failling reuest in network tab.</li>
        <li>Examine the request URL - What API endpoint are you requesting?</li>
        <li>Reproduce the problem  in postman - If we get some erorr Angular is 100% not the problem</li>
    </ol>
    <p style="font-weight: bold;">Following is the track trace - The first few line will you what you track trace.</p>
    <code class="mt-5" style="background-color: whitesmoke;">
        {{error.details}}
    </code>
</ng-container>